:root {
  --text: #212121;
  --hovercolor: #2196f3;
  --subtext: #757575;
  --bgbutton: #f5f4fa;
  --background: #2f303a;
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  letter-spacing: 0.03em;
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* header */

.nav:visited,
.contacts:visited,
.logo:visited {
  color: var(--text);
}

.nav:hover,
.nav:focus,
.contacts:focus,
.contacts:hover {
  color: var(--hovercolor);
}

.nav.current {
  color: #2196f3;
}

nav,
.container.header {
  display: flex;
  align-items: center;
}

.header-line {
  border-bottom: 1px solid #ececec;
}

.site-nav,
.site-contacts {
  display: flex;
  align-items: center;
}

.site-nav li:not(:last-child),
.site-contacts li:not(:last-child) {
  margin-right: 50px;
}

.site-contacts {
  margin-left: auto;
}

.header .logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-web {
  color: #2196f3;
  margin-top: 0;
  margin-bottom: 20px;
}

.logo-studio-footer {
  color: #fff;
}

.nav {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-contacts .contacts {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts {
  color: var(--subtext);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* studio */
.hero-bg {
  background-color: var(--background);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  height: 120px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.button-order {
  border: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;

  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background: #2196f3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.features {
  display: flex;
}
.features .item {
  flex-basis: calc((100% - 90px) / 4);
}
.features .item:not(:last-child) {
  margin-right: 30px;
}

.competences {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.competences-description {
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
  color: var(--subtext);
}

.title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.team-bg {
  background-color: #f5f4fa;
}

.pictures {
  display: flex;
}

.pictures .item:not(:last-child) {
  margin-right: 30px;
}

.team {
  display: flex;
  padding-bottom: 30px;
}

.team .item:not(:last-child) {
  margin-right: 30px;
}

.cards {
  width: 270px;
  height: 368px;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.card-name {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.card-description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--subtext);
}

/* portfolio */

.button-filter:hover,
.button-filter:focus {
  color: #ffffff;
  background-color: var(--hovercolor);
}

.button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button li:not(:last-child) {
  margin-right: 8px;
}

.button-filter {
  padding: 6px 22px;
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background: var(--bgbutton);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.container-bg {
  margin-left: 30px;
  margin-top: 30px;

  width: 370px;
  height: 404px;
  background: #ffffff;
}
.container-bg {
  flex-basis: calc((100% - 90px) / 3);
}
.border {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding-top: 20px;
}

/* .container-bg:not(:nth-child(3n)) {
  margin-right: 30px;
}

.container-bg:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */

.description {
  margin-left: 24px;
  margin-right: 24px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.filters {
  margin-top: 4px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.875;
  color: var(--subtext);
}

/* footer */
.address {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  font-style: inherit;
}

footer {
  background: var(--background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.address p {
  margin-bottom: 9px;
}

.footer .item:not(:last-child) {
  margin-bottom: 9px;
}
